@{
    var accountAction = User.Identity.IsAuthenticated ? "Logout" : "Login";
}

<nav id="main-nav" class="p-4 slideout-menu slideout-menu-right">
    <h2 class="h6">
        <nav-link class="nav-header-link" asp-controller="Divisions" asp-action="Index">
            Divisions
        </nav-link>
    </h2>
    
    <h2 class="h6">
        <nav-link class="nav-header-link" asp-controller="Teams" asp-action="Index">
            Teams
        </nav-link>
    </h2>
        
    <h2 class="h6">
        <nav-link class="nav-header-link" asp-controller="Games" asp-action="Index">
            Games
        </nav-link>
    </h2>
        
    <h2 class="h6">
        <nav-link class="nav-header-link" asp-controller="Profiles" asp-action="Index">
            Profiles
        </nav-link>
    </h2>
        
    <h2 class="h6">
        <nav-link class="nav-header-link" asp-controller="BoardMembers" asp-action="Index">
            Board Members
        </nav-link>
    </h2>

    @Html.Partial("LoginNavItem")
</nav>