<h1 class="text-center mb-4">Welcome to the <abbr title="Mid-Michigan Men's Soccer League" data-toggle="tooltip" data-placement="top">MMMSL</abbr></h1>

<div class="block app-block-intro block-inverse">
    <p>
        This site is intended primarily for players in the league and for league
        officials (referees). The site contains schedule, registration, roster,
        yellow/red card, game result, field, and league rule information.
    </p>

    <p>
        This league is a recreational men's league with Open,
        Over-30, and Over-40 divisions. The league is a non-profit organization
        and is a member of Michigan Soccer Association (<a href="http://michiganadultsoccer.com/">MSA</a>)
        which is affiliated with the United States Soccer Federation (<a href="http://www.ussoccer.com/home/">USSF</a>).
        Greater Lansing Area Soccer Referee Association (<a href="http://www.glasra.org/">GLASRA</a>) assigns
        USSF certified referees to officiate all MMMSL sanctioned games.
    </p>
</div>
