<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<div class="text-center" ng-show="!isLoaded">
    <i class="fa fa-3x fa-spinner fa-spin"></i>
</div>

<div ng-show="isLoaded">
    <p ng-show="!schedule.length">No games have been scheduled yet for this division.</p>

    <div ng-repeat="entry in schedule">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ entry.date | date: 'fullDate' }}</div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Home Team</th>
                            <th>Away Team</th>
                            <th>Field</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody ng-repeat="game in entry.games | orderBy: 'date'">
                        <tr>
                            <td>{{ game.homeTeam.name }}</td>
                            <td>{{ game.awayTeam.name }}</td>
                            <td>{{ game.location.name }}</td>
                            <td>{{ game.date | date: 'shortTime' }}</td>
                            <td>
                                <div ng-show="game.includeInStandings">
                                    {{ game.homeTeamScore }} - {{ game.awayTeamScore }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>