<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<div class="text-center" ng-show="!isLoaded">
    <i class="fa fa-3x fa-spinner fa-spin"></i>
</div>

<div ng-show="isLoaded">
    <div class="row">
        <div class="col-xs-8 col-sm-4 col-lg-2">
            <div class="form-group">
                <label>Select a Division</label>
                <select class="form-control" ng-model="selectedDivision" ng-options="d.name for d in divisions"></select>
            </div>
        </div>
    </div>

    <div class="alert alert-info" ng-show="!selectedDivision.id">
        <i class="fa fa-info-circle"></i> Please select a division to begin
    </div>

    <div ng-show="!!selectedDivision.id">
        <accordion close-others="true">
            <accordion-group class="game" ng-repeat="game in games | orderBy: 'date'">
                <accordion-heading>
                    <div ng-click="$parent.selectGame(game)">
                        <div class="row">
                            <div class="col-xs-5">
                                <strong>{{ game.homeTeam.name }}</strong>
                            </div>
                            <div class="col-xs-2">
                                <span class="text-center">vs</span>
                            </div>
                            <div class="col-xs-5">
                                <strong>{{ game.awayTeam.name }}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 spacing-top-default spacing-bottom-default">
                                {{ game.date | date: 'short' }} at {{ game.location.name }}
                            </div>
                        </div>
                    </div>
                </accordion-heading>

                <div class="game-results" ng-if="game.hasOpened">
                    <div class="well well-sm">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="game.includeInStandings"> Include in standings
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="game.wasCancelled"> Game was cancelled
                            </label>
                        </div>

                        <button type="button" class="btn btn-success pull-right" ng-click="saveResult(game)">Save</button>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="game.wasForfeited"> Game was forfeited
                            </label>
                        </div>
                    </div>

                    <div ng-show="!game.wasForfeited" style="position: relative">
                        <tabset>
                            <tab ng-repeat="tab in teamTabs" select="selectTeam($parent.game[tab], $parent.game)">
                                <tab-heading>
                                    {{ $parent.game[tab].name }}
                                </tab-heading>

                                <div class="btn-group btn-group-add-player">
                                    <button type="button" class="btn btn-success" ng-click="addPlayer($parent.game[tab])">
                                        <i class="fa fa-user"></i> Add a Player
                                    </button>
                                </div>

                                <h4>Goals</h4>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="newGoal.player" ng-options="p.profile.name for p in $parent.game[tab].players | orderBy: 'profile.name'">
                                                <option value="">- Choose a Player -</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <input type="number" class="form-control" ng-model="newGoal.count" />
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <button type="button" class="btn btn-success" ng-click="addGoal($parent.game[tab], newGoal, $parent.game)">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>

                                <div class="well well-sm" ng-show="!!$parent.game[tab].goals.length">
                                    <div class="row" ng-repeat="goal in $parent.game[tab].goals">
                                        <div class="col-lg-8">
                                            <span>{{ goal.player.profile.name }}</span>
                                        </div>

                                        <div class="col-lg-2">
                                            <ng-pluralize count="goal.count" when="{
                                                'one': '1 goal',
                                                'other': '{} goals'
                                            }"></ng-pluralize>
                                        </div>
                                    </div>
                                </div>

                                <h4>Penalty Cards</h4>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="newBooking.player" ng-options="p.profile.name for p in $parent.game[tab].players | orderBy: 'profile.name'">
                                                <option value="">- Choose a Player -</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="newBooking.penaltyCard" ng-options="p.details.description for p in $parent.penaltyCards">
                                                <option value="">- Choose a Penalty -</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-2">
                                        <button type="button" class="btn btn-success" ng-click="addBooking($parent.game[tab], newBooking, $parent.game)">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                    </div>
                                </div>

                                <div class="well well-sm" ng-show="!!$parent.game[tab].bookings.length">
                                    <div class="row" ng-repeat="booking in $parent.game[tab].bookings">
                                        <div class="col-lg-2">
                                            <span>{{ booking.player.profile.name }}</span>
                                        </div>

                                        <div class="col-lg-10">
                                            <i class="fa fa-file" ng-class="{ 'text-warning': booking.penaltyCard.type == 1, 'text-danger': booking.penaltyCard.type == 2 }"></i>
                                            {{ booking.penaltyCard.description }}
                                            : <ng-pluralize count="booking.penaltyCard.points" when="{ 'one': '1 point', 'other': '{} points' }"></ng-pluralize>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <div class="row">
            <div class="col-lg-2">
                <select ng-model="newGame.homeTeam" ng-options="t.name for t in teams"></select>
            </div>

            <div class="col-lg-2">
                <select ng-model="newGame.awayTeam" ng-options="t.name for t in teams"></select>
            </div>

            <div class="col-lg-2">
                <select ng-model="newGame.location" ng-options="l.name for l in locations"></select>
            </div>

            <div class="col-lg-2">
                <input type="text" id="new-game-dt" ng-model="newGame.date" data-date-format="YYYY-MM-DD hh:mm A" />

                <script type="text/javascript">
                    $(function () {
                        $('#new-game-dt').datetimepicker({
                            sideBySide: true,
                            useSeconds: false,
                            minuteStepping: 30,
                            useCurrent: false
                        });
                    });
                </script>
            </div>

            <div class="col-lg-2">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-success" ng-click="addGame(newGame)">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addPlayerModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Player - <small>{{ team.name }}</small></h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input required="required" class="form-control" ng-model="player.firstName" type="text" name="firstName" placeholder="First Name" />
        </div>

        <div class="form-group">
            <input required="required" class="form-control" ng-model="player.lastName" type="text" name="lastName" placeholder="Last Name" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
    </div>
</script>