@model PaginatedList<Division>

@{
    ViewData["Title"] = "Manage Divisions";
}

@if (!Model.Any()) {
    Html.RenderPartial("NoRecords");
    return;
}

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>@Html.Partial("CreateNew")</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var division in Model) {
            <tr>
                <td>@division.Name</td>
                <td>@Html.Partial("Actions", division)</td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("Pagination")