<div class="row my-4">
  <div class="col-sm-6">
    <ul class="featured-list featured-list-bordered">
      <li class="mb-5">
        <div class="featured-list-icon">
          <a asp-controller="Teams"><span class="icon icon-flow-branch"></span></a>
        </div>

        <h3><a asp-controller="Divisions">Manage Divisions</a></h3>
        <p>Add/remove/update divisions.</p>
      </li>
    </ul>
  </div>

  <div class="col-sm-6">
    <ul class="featured-list featured-list-bordered">
      <li class="mb-5">
        <div class="featured-list-icon">
          <a asp-controller="Teams"><span class="icon icon-sports-club"></span></a>
        </div>

        <h3><a asp-controller="Teams">Manage Teams</a></h3>
        <p>Add/remove/update teams.</p>
      </li>
    </ul>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-6">
    <ul class="featured-list featured-list-bordered">
      <li class="mb-5">
        <div class="featured-list-icon">
          <a asp-controller="Games"><span class="icon icon-trophy"></span></a>
        </div>

        <h3><a asp-controller="Games">Manage Games</a></h3>
        <p>Add/remove/update games.</p>
      </li>
    </ul>
  </div>

  <div class="col-sm-6">
    <ul class="featured-list featured-list-bordered">
      <li class="mb-5">
        <div class="featured-list-icon">
          <a asp-controller="Profiles"><span class="icon icon-users"></span></a>
        </div>

        <h3><a asp-controller="Profiles">Manage Profiles</a></h3>
        <p>Add/remove/update user profiles.</p>
      </li>
    </ul>
  </div>
</div>