@model EditGameModel

@{
    ViewData["Title"] = "Create a New Game";
}

<form asp-action="Create" method="post">
  @if (!ViewData.ModelState.IsValid) {
    <div class="alert alert-danger" asp-validation-summary="All"></div>
  }

  <div class="form-group row" bs-validation-for="Game.DivisionId">
    <label asp-for="Game.DivisionId" class="col-sm-2 col-form-label">Division</label>
    <div class="col-sm-10">
      <select asp-for="Game.DivisionId" asp-items="Model.Divisions" class="form-control select-division-source" required="required"></select>
    </div>
  </div>

  <div class="form-group row" bs-validation-for="Game.HomeTeamId">
    <label asp-for="Game.HomeTeamId" class="col-sm-2 col-form-label">Home Team</label>
    <div class="col-sm-10">
      <select asp-for="Game.HomeTeamId" asp-items="Model.Teams" class="form-control select-team-destination" required="required"></select>
    </div>
  </div>

  <div class="form-group row" bs-validation-for="Game.AwayTeamId">
    <label asp-for="Game.AwayTeamId" class="col-sm-2 col-form-label">Away Team</label>
    <div class="col-sm-10">
      <select asp-for="Game.AwayTeamId" asp-items="Model.Teams" class="form-control select-team-destination" required="required"></select>
    </div>
  </div>

  <div class="form-group row" bs-validation-for="Game.DateAndTime">
    <label asp-for="Game.DateAndTime" class="col-sm-2 col-form-label">Date/Time</label>
    <div class="col-sm-10">
      <input type="datetime-local" asp-for="Game.DateAndTime" class="form-control" required="required" />
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-success">
          <span class="icon icon-plus"></span> Create
      </button>
    </div>
  </div>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" crossorigin="anonymous"></script>
    <script>InitiateDivisionalTeamSelect()</script>
}