@model EditGameResultModel
@{
    ViewData["Title"] = "Edit Game Result";
}

    <ul class="nav nav-bordered" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#team-@Model.Game.HomeTeamId" role="tab">@Model.Game.HomeTeam.Name</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#team-@Model.Game.AwayTeamId" role="tab">@Model.Game.AwayTeam.Name</a>
        </li>
    </ul>

    <div class="tab-content mt-4 mb-4">
        <div class="tab-pane active" id="team-@Model.Game.HomeTeamId" role="tabpanel">
            @Html.Partial("EditGoalForm", new EditGoalModel {
               Game = Model.Game,
               TeamId = Model.Game.HomeTeamId,
               Players = Model.HomeTeamPlayers
           })
        </div>

        <div class="tab-pane" id="team-@Model.Game.AwayTeamId" role="tabpanel">
            @Html.Partial("EditGoalForm", new EditGoalModel {
               Game = Model.Game,
               TeamId = Model.Game.AwayTeamId,
               Players = Model.AwayTeamPlayers
           })
        </div>
    </div>