@model TeamsIndexModel
@{
    ViewData["Title"] = $"{Model.Division.Name} Teams";
}

@foreach (var team in Model.Teams)
{
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-baseline">
            <h2 class="h4 card-title mb-0">@team.Name</h2>
            <h3 class="h6 card-subtitle mb-2 text-muted">@string.Join(", ", team.Managers.Select(m => m.Profile.FullName))</h3>
        </div>
        <div class="card-block">
            <ul class="nav nav-bordered">
                <li class="nav-item">
                    <a class="nav-link app-roster-link collapsed mb-2" href="#roster-@team.Id" data-toggle="collapse" role="tab">View Roster</a>
                </li>
            </ul>

            <div class="collapse" id="roster-@team.Id" role="tabpanel">
                @if (!team.Roster.Any()) {
                    <p class="card-text">No players are listed on this roster yet.</p>
                }
                else {
                    <ul class="list-group list-group-flush">
                        @foreach (var player in team.Roster.OrderBy(p => p.Profile.FirstName).ThenBy(p => p.Profile.LastName)) {
                            <li class="list-group-item">
                                <p class="card-text">@player.Profile.FullName</p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}