@model List<Division>

<nav id="main-nav" class="p-4 slideout-menu slideout-menu-right">
    @foreach(var division in Model) {
        <h2 class="h6">@division.Name</h2>
        <ul class="nav nav-pills flex-column mb-4">
            <li class="nav-item">
                <a class="nav-link" href="/@(division.Id)/schedule">Schedule/Scores</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/@(division.Id)/standings">Standings</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/@(division.Id)/teams">Teams</a>
            </li>
        </ul>
    }
    
    <h2 class="h6">
        <a class="nav-header-link" asp-controller="LeagueInformation" asp-action="index">League Information</a>
    </h2>
</nav>