.btn-primary {
    color: #eeeee6;
    background-color: #b2b74e;
    border-color: #a3a744;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #eeeee6;
    background-color: #c9cc83;
    border-color: #a3a744;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #b2b74e;
    border-color: #a3a744;
}

.btn-primary .badge {
    color: #b2b74e;
    background-color: #eeeee6;
}

.btn-link {
    color: #b2b74e;
}

.btn-link:hover,
.btn-link:focus {
    color: #a3a744;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #999;
}


.btn-group-add-player {
    position: absolute;
    top: 6px;
    right: 10px;
}