/* FADE EFFECT */
.ng-fade.ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.ng-fade.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

/* SLIDE EFFECT */
.ng-slide.ng-enter {
    -webkit-animation: slideInLeft 1s;
    -moz-animation: slideInLeft 1s;
    -ms-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}
.ng-slide.ng-leave {
    -webkit-animation: slideOutLeft 1s;
    -moz-animation: slideOutLeft 1s;
    -ms-animation: slideOutLeft 1s;
    animation: slideOutLeft 1s;
}