.drawer-right {
    /*position: absolute;
    top: 20px;
    right: 0;*/
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    /*width: 585px;*/
}

.drawer-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.drawer-right .nav > li > a {
    cursor: pointer;
}

.drawer-right .nav > li.active > a {
    cursor: initial;
}