.navbar-default {
    background-color: #fff;
    border-color: #ddd;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a:hover {
    border-color: #f2f2f2 #f2f2f2 #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #ddd;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #b2b74e;
    color: #fff;
    border-color: #b2b74e;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #b2b74e;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #b2b74e;
}
